/* Este arquivo contem o estilo CSS para a página da cafeteria Grão Dourado sem atag <style> no HTML. Ele está ligado ao index e sobre.html*/
p {
        color:#741a1a;
        font-family: Arial, sans-serif;
    }
    h1 {
        color:#741a1a;
        font-family: Comic Sans MS, cursive;
    }
    header{
        background-color: #105c75;
        text-align: center;
    }
    header h1 {
       color: #ffffff;
    }
    header p {
        color: #ffffff;
    }
    body {
        background-color: #b3c8cf;
        margin: 0;
    }
    section {
        background-color: #c7d4e3;
        border-radius: 10px;
        border: 2px solid #a6a6b8;
        padding: 16px;
        margin-bottom: 16px;
    }
    section h3{
        color: #053b4d;
        font-family:'Courier New', Courier, monospace;
        font-size: 22px;
    }
    section p{
        color: #791479;
        font-family: Arial, sans-serif;
        font-size: 18px;
    }
    main{
        width: 400px;
        margin: 0 auto;
    }
    main h2{
        color: #053b4d;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
    footer{
        background-color: #105c75;
        color: #ffffff;
        text-align: center;
        padding: 8px;
        font-family: Arial, sans-serif;
    }
    nav{
        padding: 8px;
        text-align: center;
    }
    nav a{
        color: #ffffff;
        text-decoration: none;
        margin: 0 8px;
        font-family: Arial, sans-serif;
    }